@page "/"

@using Microsoft.AspNetCore.SignalR.Client
@using Shared

@inject ILocalStorageService LocalStorageService
@inject IContactService contactService
@inject AuthenticationStateProvider authenticationStateProvider



<div style="height:100vh; display:flex; flex-direction:column; justify-content:center;align-items:center">
    <h1>SELAMAT DATANG</h1>
    <h1>APLIKASI ADMINISTRATOR CHAT</h1>
</div>